body {
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  min-height: 100vh;
  padding: 24px;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #1e1e1e;
  color: white;
}